<%= form_for(@property, html: { class: "form-horizontal span8"}) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, class: "input-xxlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :description, class: "input-xxlarge", rows: 6 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :place, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :place %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Date & time", class: "control-label" %>
    <div class="controls">
      <!-- <%= f.datetime_select :date %> -->

      <div id="datepicker" class="input-append">
        <input data-format="yyyy-MM-dd" type="text" class="input-small"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
      </div>

      <div id="timepicker" class="input-append">
        <input data-format="hh:mm:ss" type="text" class="input-small"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
      </div>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :mail, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :mail %>
    </div>
  </div>

  <br>

  <div class="control-group">
    <div class="controls">
      <div class="actions">
        <%= f.submit(class: "btn btn-success") %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= link_to 'Cancel', properties_path, class: "btn" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#datepicker').datetimepicker({
      pickTime: false
    });
    $('#timepicker').datetimepicker({
      pickDate: false
    });
  });
</script>
