<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @property.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @property.date %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @property.mail %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
