<!DOCTYPE html>
<html>
<head>
	<!--/.nav-collapse -->
	<title>Lost & Found</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<!-- <%= javascript_include_tag "bootstrap-datetimepicker.min", "data-turbolinks-track" => true %> -->
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" id="logo" href="#">Lost & Found</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
